{% extends 'base_clientSide.html.twig' %}

{% block body %}



    
    <div class="info">
        <div>
            <div class="container">
                
                
                
                    
    <div class="youplay-login">
        <div class="youplay-form text-center">
            <h1>Payment Success </h1>

       
        </div>
    </div>

                
                
            </div>
        </div>
    </div>
{% endblock %}