/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2021, 9:39:25 PM
    Author     : Dah
*/


.body{
    -fx-background-color: rgb(8, 3, 37);
}
*{
    -fx-text-fill: white;
}
.jeuxTitle{
    -fx-font-size: 25;
    -fx-font-family: Comic Sans MS;
    -fx-font-style:Bold Italic;
}
.panebg{
    -fx-background-color: rgb(22, 9, 98);
}

.cardLabel{
    -fx-background-color:black;
    -fx-font-weight:bolder;
    -fx-font-family:fantasy;
}

.btnMore{
    -fx-border-color:white;
    -fx-border-width:2;
    -fx-border-radius:4;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}

.list-cell{
    -fx-opacity: 0.5;
    -fx-background-color:  rgb(22, 9, 98);
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 15.0;
}

