# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Farah\Desktop\Esprit\3eme\sem2\PIDEV\Sprint1\GamingRoomRepo\GamingRoomWeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
